<br>
<button (click)="loadCourses()">Load courses </button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    {{ course.name }}
  </li>
</ul>

<br><hr>
<br>
<button (click)="onAdd()">Add </button>
<ul>
  <li *ngFor="let course of courses2; index as index">
    {{ course.name }}
    <button (click)="onChange(course)">Remove</button>
  </li>
</ul>

<br><hr>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a href="#"
       class="nav-link"
       [class.active]="viewMode == 'map'"
       (click)="viewMode ='map'">Map View</a></li>
  <li class="nav-item">
    <a href="#"
       class="nav-link"
       [class.active]="viewMode == 'list'"
       (click)="viewMode ='list'">List View</a></li>
</ul>
<br>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
