<form [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form.errors" class="alert alert-danger">
      The username or password is invalid
    </div>
    <div formGroupName="account">
      <div class="form-group">
          <label for="username">Username</label>
          <input
              formControlName="username"
              id="username"
              type="text"
              class="form-control">
          <div *ngIf="username.pending">Checking for uniqueness...</div>
          <div *ngIf="username.touched && username.invalid"
               class="alert alert-danger">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username should be minimun {{ username.errors.minlength.requiredLength }}
            </div>
            <div *ngIf="username.errors.cannotContainSpace">Username can not include spaces</div>
            <div *ngIf="username.errors.shouldBeUnique">Username should be unique</div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input
              formControlName="password"
              id="password"
              type="text"
              class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
