<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <ng-content select=".title"></ng-content>
        </h5>
        <p class="card-text">
          <ng-content select=".text"></ng-content>
        </p>
        <a href="#" class="btn btn-primary card-btn">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
