<form #f="ngForm"(ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
      <label for="firstName">Name</label>
      <input required
             minlength="3"
             maxlength="10"
             pattern="banana"
             ngModel
             name="firstName"
             #firstName="ngModel"
             id="firstName"
             type="text"
             class="form-control"
      >
      <div class="alert alert-danger"
           *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div *ngIf="firstName.errors.required">
          First name is required
        </div>
        <div *ngIf="firstName.errors.minlength">
          First name should be minimun {{ firstName.errors.minlength.requiredLength }} charters
        </div>
        <div *ngIf="firstName.errors.pattern">
          First name doesn't match the pattern
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="form-check float-right">
    <input class="form-check-input" type="checkbox" ngModel  name="isSubscribed" id="isSubscribed">
    <label class="form-check-label" for="isSubscribed">
      Subscribe to our newsletter
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select multiple ngModel
            name="contactMethod"
            id="contactMethod"
            class="form-control">
      <option value=""></option>
      <option *ngFor="let method of contactMethods"
              [value]="method.id">{{ method.name }}</option>
    </select>
  </div>
  <div *ngFor="let method of contactMethods"
       class="form-check">
    <input ngModel
           [value]="method.id"
           id="contactMethod{{method.id}}"
           name="contactMethod"
           type="radio"
           class="form-check-input">
    <label class="form-check-label" for="contactMethod{{method.id}}">{{ method.name }}</label>
  </div>
  <div>
    <p>
      {{ f.value | json }}
    </p>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
