<input (keyup.enter)="createPost(title)"
       type="text"
       class="form-control"
       #title>
<ul class="list-group">
  <li *ngFor="let post of posts"
      class="list-group-item">
    {{ post.title }}
    <button (click)="updatePost(post)" class="btn btn-outline-primary btn-sm">Update</button>
    <button (click)="deletePost(post)" class="btn btn-outline-danger btn-sm">Delete</button>
  </li>
</ul>
