
<div class="container">
  <br>Posts Component<hr>
  <app-posts-component></app-posts-component>
  <br><br><br>
  <br>Form builder<hr>
  <app-new-course-component-with-form-builder></app-new-course-component-with-form-builder>
  <br><br><br>
  <br>Input Array<hr>
  <app-new-course-component></app-new-course-component>
  <br><br><br>
  <br>Signup controller<hr>
  <signup-form></signup-form>
  <br><br><br>
  <br>Contact form<hr>
  <bs-contact-form></bs-contact-form>
  <hr>
  <br>Zippy component<hr>
  <bs-zippy title="Bitcoin Crackdown">
    Non stop to get down, awesome!!!
  </bs-zippy>
  <hr>
  <br>Custom directive<hr>
  <input type="text" [appInputFormat]="'uppercase'">
  <hr>
  <ng-switch></ng-switch>
  <br><br>
  <hr>
  <div [hidden]="!courses.length">
    List of courses
  </div>
  <div [hidden]="courses.length">
    No courses available
  </div>
  <hr>
  <div *ngIf="courses.length; then coursesList else noCourses"></div>
  <ng-template #coursesList>
    List of courses
  </ng-template>
  <ng-template #noCourses>
    No courses available
  </ng-template>
  <hr>
  <like [likesCount]="like.likesCount" [isSelected]="like.isSelected"></like>
  <hr>
  <favorites [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorites>
  <hr>
  <bootstrap-panel>
    <ng-container class="title">heading</ng-container>
    <div class="text">
      <p>some text here...</p>
    </div>
  </bootstrap-panel>
</div>

