<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne" (click)="onClick()">
      <h6 class="mb-0">
        <span class="tittle">{{ title }}</span>
        <span class="oi"
              [ngClass]=" isExpanded ? 'oi-chevron-top' : 'oi-chevron-bottom'"></span>
      </h6>
    </div>


    <div id="collapseOne" [class.show]="isExpanded" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
